[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Adarsh Narendra Adakane
	email = adarshnadakane2004@gmail.com
